{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}KtT Inventory System{% endblock %}</title>
		<link rel="stylesheet" href="/static/design.css" type="text/css"  />
	</head>
	<body>
		<div class="header">
			<h1>{% block pagetitle %}KtT Inventory System{% endblock %}</h1>
		</div>

		<div class="body">
			<div class="menu">
				<ul>
					<li><a href="{% url "home" %}"><img src="/static/home.svg" width="24" height="24" /> {% trans "Home" %}</a></li>
					<li><a href="{% url "admin:index" %}"><img src="/static/admin.svg" width="24" height="24" /> {% trans "Admin Area" %}</a></li>
					<li><a href="{% url "stats" %}"><img src="/static/stats.svg" width="24" height="24" /> {% trans "Statistics" %}</a></li>
					<li><br></li>
					<li>{% trans "Search Item" %}:
						<ul>
					<li><form action="?" target="_self" id="itemchooser" onsubmit="location.assign('/item/'+document.forms['itemchooser']['id'].value+'/'); return false;"><input maxlength="5" name="id" type="text" title="{% trans "Get Item by ID" %}"/></form></li>
					<li><form action="?" target="_self" id="itemsearch" onsubmit="location.assign('/search/'+document.forms['itemsearch']['term'].value+'/'); return false;"><input name="term" type="text" title="{% trans "Search Item by Name and Description" %}"/></form></li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>
