{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<h2>Statistics:</h2>

	<ul>
		<li>Number of codes: {{ number_of_codes }}</li>
		<li>Number of items: {{ number_of_items }}
			<ul>
				<li>with parent: {{ number_of_items_with_parent }}</li>
				<li>without parent: {{ number_of_items_without_parent }}</li>
			</ul></li>
		<li>Item with most barcodes: {{ max_barcodes_item.name }} [<b>{{max_barcodes_item.number_of_attached_barcodes}}</b> Barcodes]</li>
	</ul>

	Work in Progress...
{% endblock %}
